/* v6.02 CSS */
* { margin: 0; padding: 0; }
body { background: url("img/paper.png") 0 0 }
a { text-decoration: none }
a:hover { text-decoration: none }
img { border: 0 }
ul, ol { list-style: none }
h1, h2, h3, h4, h5, p, form { margin: 0 }
/*header img{ width:100%;}_NO__DOTCOMMA__AFTER__*/
input { outline: none }
.clear { clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix:after, .clrfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
::-webkit-input-placeholder { color: #222222 }
::-moz-placeholder { color: #222222 }
/* firefox 19+ */
:-ms-input-placeholder { color: #222222 }
/* ie */
input:-moz-placeholder { color: #222222 }
.clearfix { display: inline-block }
header, nav, section, article, aside, footer { display: block }
html[xmlns] .clearfix { display: block }
* html .clearfix { height: 1% }
.inline-block { /*Cross-brower inline-block*/ display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; }
/*STRUCTURE*/
#topBanner { text-align: center; padding: 10px 0; background: url(img/bg_topBanner.gif) 0 bottom repeat-x; border-bottom: 1px solid #00478b; }
#topBanner img { margin: auto }
/* Fonts */
@font-face {
    font-family: OpenSans;
    src: url('font/OpenSans-Regular.eot');
    src: url('font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('font/OpenSans-Regular.woff') format('woff'), url('font/OpenSans-Regular.ttf') format('truetype')
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url('font/OpenSans-Semibold.eot');
    src: url('font/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('font/OpenSans-Semibold.woff') format('woff'), url('font/OpenSans-Semibold.ttf') format('truetype')
}

@font-face {
    font-family: OpenSans-Light;
    src: url('font/OpenSans-Light.eot');
    src: url('font/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('font/OpenSans-Light.woff') format('woff'), url('font/OpenSans-Light.ttf') format('truetype')
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('font/OpenSans-Bold.eot');
    src: url('font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('font/OpenSans-Bold.woff') format('woff'), url('font/OpenSans-Bold.ttf') format('truetype')
}

/*header*/

@keyframes wsBasic {
    0% { left: -0% }
    15.64% { left: -0% }
    20% { left: -100% }
    35.64% { left: -100% }
    40% { left: -200% }
    55.64% { left: -200% }
    60% { left: -300% }
    75.64% { left: -300% }
    80% { left: -400% }
    95.64% { left: -400% }
}
@-moz-keyframes wsBasic {
    0% { left: -0% }
    15.64% { left: -0% }
    20% { left: -100% }
    35.64% { left: -100% }
    40% { left: -200% }
    55.64% { left: -200% }
    60% { left: -300% }
    75.64% { left: -300% }
    80% { left: -400% }
    95.64% { left: -400% }
}
@-webkit-keyframes wsBasic {
    0% { left: -0% }
    15.64% { left: -0% }
    20% { left: -100% }
    35.64% { left: -100% }
    40% { left: -200% }
    55.64% { left: -200% }
    60% { left: -300% }
    75.64% { left: -300% }
    80% { left: -400% }
    95.64% { left: -400% }
}
#wowslider-container1 .ws_bullets a img { text-indent: 0; display: block; bottom: 15px; left: -63px; visibility: hidden; position: absolute; -moz-box-shadow: 0 0 5px #999999; box-shadow: 0 0 5px #999999; border: 5px solid #FFFFFF; max-width: none; }
#wowslider-container1 .ws_bullets a:hover img { visibility: visible }
#wowslider-container1 .ws_bulframe div div { height: 48px; overflow: visible; position: relative; }
#wowslider-container1 .ws_bulframe div { left: 0; overflow: hidden; position: relative; width: 125px; background-color: #FFFFFF; }
#wowslider-container1 .ws_bullets .ws_bulframe { display: none; overflow: visible; position: absolute; cursor: pointer; -moz-box-shadow: 0 0 5px #999999; box-shadow: 0 0 5px #999999; border: 5px solid #FFFFFF; }
#wowslider-container1 .ws_bulframe span { display: block; position: absolute; bottom: -11px; margin-left: -5px; left: 63px; background: url(./triangle.png); width: 15px; height: 6px; }
#wowslider-container1 { margin-top: 30px !important }
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev { position: absolute !important; width: 70px; display: block; bottom: 10px; z-index: 99999; height: 70px; background-size: 100% 100%; }
#wowslider-container1 .wsl { display: none }
#wowslider-container1 .wsl p a { font: 14px OpenSans; color: #87b848; padding-right: 10px; background: url("img/arrow-nav.png") right 7px no-repeat; }
#wowslider-container1 a.ws_next { background: url("img/next.png") center !important; right: 10px !important; }
#wowslider-container1 a.ws_prev { right: 90px !important; background: url("img/next-arrow.png") center !important; }
#wowslider-container1 .wsl p { float: left !important; margin: 10px 0 0 10px !important; font: 22px "OpenSans-SemiBold" !important; color: #fff !important; text-shadow: 0 0 3px #000 !important; }
#wowslider-container1 .wsl p span { color: #87b848 !important; font: 22px "OpenSans-SemiBold" !important; }
/*myCampaigs*/
.myCampaigs { width: 900px; margin: 0 auto; padding-top: 30px; position: relative; }
.campaign-top-btn {position: absolute; top: 0; right: 0; text-shadow: 0 0 1px #ffdfc9; border-radius: 5px; box-shadow: inset 0 0 5px rgba(199, 199, 199, 0.5);}
.campaign-top-btn span { display: block; color: #fff; text-transform: uppercase; font: 11px/29px "OpenSans-Light"; padding: 0 15px; }
.view_campaign_btn {background: #f21b43;}
.view_campaign_btn:hover { background: #e2193f }
.copy_campaign_btn { right: 125px; background: #ffa800; }
.copy_campaign_btn:hover { background: #f39f00 }
.set_live_campaign_btn { right: 250px; background: #ffa800; }
.set_live_campaign_btn:hover { background: #f39f00 }
.myCampaigs h2 { display: block; text-transform: uppercase; padding: 0 0 10px 0; margin-bottom: 20px; border-bottom: 3px solid #dedede; font: 18px/29px "OpenSans-SemiBold"; color: #7eb041; }
.myCampaigs form { float: right; margin: 10px 0; display: inline-block; }
.myCampaigs form .selectME { float: right; width: 235px !important; }
.myCampaigs form .search-input { float: left; margin-right: 20px; }
.myCampaigs form input { float: left; height: 24px; width: 150px; text-transform: capitalize; margin-left: 16px; background: #fff; border: 1px solid #dedede; padding: 0 30px 0 13px; font: 11px/24px OpenSans-SemiBold; color: #222222; border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
.myCampaigs form button { float: left; height: 26px; border: 0; width: 26px; background: #dedede url("img/input-arrow.png") center no-repeat; cursor: pointer; border-top-right-radius: 16px; border-bottom-right-radius: 16px; }
.myCampaigs fieldset { display: inline-block; text-align: center; width: 100%; float: left; clear: both; margin: 20px 0 0; border: 0; }
.myCampaigs ul.list { margin-top: 5px }
.myCampaigs ul.list li { width: 438px; border: 1px solid rgb(131, 124, 124); box-shadow: none; margin: 20px 20px 0 0; }
.myCampaigs ul.list li.odd { margin-right: 0 }
.myCampaigs .list li dl { width: 420px; margin: 15px auto; }
.myCampaigs .list li dl dt { float: left; width: 150px; font: 12px/15px "OpenSans-Bold"; color: #333; text-transform: uppercase; margin: 5px 0; }
.myCampaigs .list li dl dd { float: left; width: 270px; font: 12px/15px "OpenSans"; margin: 5px 0; }
.myCampaigs .campaignsButtons { margin-top: 10px; padding: 10px 0; background: #f3f3f3; }
.myCampaigs .campaignsButtons a { padding: 8px 25px; border: 0; font: 12px/20px "OpenSans-Light"; color: #fff; text-transform: uppercase; cursor: pointer; }
.myCampaigs .campaignsButtons a.view { background: #7eb041; text-shadow: 0 0 1px #9ec471; }
.myCampaigs .campaignsButtons a.view:hover { background: #76a43d }
.myCampaigs .campaignsButtons a.delete { background: #ff7f24; text-shadow: 0 0 1px #ffdfc9; }
.myCampaigs .campaignsButtons a.delete:hover { background: #f07722 }
.myCampaigs .campaignsButtons a.edit { background: #0077c0; text-shadow: 0 0 1px #60aad8; }
.myCampaigs .campaignsButtons a.edit:hover { background: #006bad }
.myCampaigs .list li fieldset { margin: 0 }
.editCampaigns #wrapper { margin-top: 30px }
.editCampaigns #navigation { border-right: 1px solid #d9d9d9 }
.editCampaigns { width: 900px; margin: 30px auto 0; position: relative; }
.editCampaigns h2 { display: block; text-transform: uppercase; padding: 0 0 10px 0; margin-bottom: 20px; border-bottom: 3px solid #dedede; font: 18px/29px "OpenSans-SemiBold"; color: #7eb041; }
.editCampaigns .step .tabs { box-shadow: inset 0 0 2px rgb(0, 0, 0) }
/**/
.tableWdget td div { float: left; font: 14px "OpenSans"; padding: 2px; width: 200px; }
.tableWdget td div input { height: 25px; width: 250px; border: 1px solid #ddd; border-radius: 3px; outline: none; padding: 0 10px; }
.tableDescription { font: 12px/15px "OpenSans"; color: #333; }
/**/
#contribution_form { float: left; clear: both; width: 100%; background: #fff; padding-bottom: 30px; box-shadow: 0 0 6px rgba(5, 5, 5, 0.5); border-radius: 8px; margin: 20px 0 40px; }
#contribution_form h2 { float: none; margin-bottom: 1em; }
#contribution_form p { margin-bottom: 1em }
#contribution_details { width: 94%; margin: 20px auto; }
#contribution_details h3 { font: 14px/29px "OpenSans-SemiBold"; text-transform: uppercase; color: #7eb041; border-bottom: 1px solid #dedede; padding: 5px 0; }
#contribution_qty { float: left }
#contribution_qty a { color: #444; text-decoration: underline; }
#contribution_qty #submit { margin: auto; display: block; }
#contribution_qty input[type="text"] { height: 25px; line-height: 25px; vertical-align: middle; width: 250px; border: 1px solid #ddd; border-radius: 3px; outline: none; padding: 0 10px; }
#contribution_details .top-description .left { width: 17.2%; border: 4px solid rgb(199, 198, 198); border-radius: 4px; }
#contribution_details .top-description .left img { width: 100%; height: 100%; }
#contribution_details .top-description .right { width: 62%; float: left; margin-left: 20px; }
#contribution_details .top-description .right h2 { font-size: 18px; line-height: 20px; }
#contribution_details .top-description .right p { font: 12px/15px "OpenSans" }
.community_donate, .paypal_donate { margin-bottom: 1em; width: 94%; padding: 2%; text-align: center; }
.paypal_donate span { margin-bottom: 0.5em; display: block; }
.community_donate { background: #CCE0F0 }
.community_donate label { width: 40%; margin-right: 10px; }
#community { margin-right: 10px; vertical-align: middle; vertical-align: -webkit-baseline-middle; }
.contributions_page .no_earnings_message { font-size: 18px; padding: 50px; text-align: center; }
#browsePartners .searchBox .selectME { float: left }
#browsePartners #arrowImg, #categories #arrowImg { margin-top: -14px }
.about-me_block { width: 900px; margin: 0 auto; }
#avatar_about_me { float: left; width: 240px; }
#avatar_about_me .upload_logo { border: 1px solid #dedede; border-radius: 8px; width: 240px; height: 180px; overflow: hidden; }
#avatar_about_me .upload_logo img { height: 100%; width: 100%; }
#about_me_content { width: 640px; float: right; }
#about_me_content p { clear: both; display: block; }
#about_me_content p span { float: left; margin-right: 10px; }
#about_me_content label { float: left }
.about-me_block .content_about { clear: both }
/*main_campaigns_page*/
.main_campaigns_page h2 { margin: 0 20px; padding: 20px 20px 0; font: 14px/29px "OpenSans-SemiBold"; text-transform: uppercase; color: #7eb041; border-bottom: 1px solid #dedede; text-align: left; }
.main_campaigns_page ul { display: block; margin: 40px 0 0 40px; }
.main_campaigns_page ul li { float: left; clear: both; margin: 5px 0; width: 450px; }
.main_campaigns_page ul li span { float: left; font: 12px/40px "OpenSans"; color: #999999; text-align: center; text-transform: uppercase; }
.main_campaigns_page ul li a { float: right; margin-left: 30px; color: #fff; font: 15px/40px "OpenSans-Light"; text-transform: capitalize; width: 135px; text-align: center; border-radius: 5px; }
.main_campaigns_page ul li a.create { background: #f21b43; text-shadow: 0 0 1px #f98da1; }
.main_campaigns_page ul li a.edit { background: #0077c0; text-shadow: 0 0 1px #60aad8; }
.main_campaigns_page ul li a.view { background: #ffa800; text-shadow: 0 0 1px #ffdfc9; }
.main_campaigns_page ul li a.closed { background: #92c150; text-shadow: 0 0 1px #ffdfc9; }
.main_campaigns_page ul.my_profile_list li a { float: left; margin: 0 0 0 15px; width: 85px; }
.main_campaigns_page ul.my_profile_list li a.create { width: 185px; float: right; }
#steps form .input_row { float: right; clear: both; margin: 20px 0 0 0; }
#steps form .input_row input[type="text"] { float: left; width: 16px; }
#steps form .input_row input[type="checkbox"] { float: left; margin: 8px 0 0 0; }
.input_row label { float: left; font: 12px/27px "OpenSans"; color: #333; margin: 0 20px; }
#campaign_basic_fontsizeselect, #campaign_basic_fontselect, #campaign_basic_styleselect, #campaign_basic_formatselect, #campaign_basic_toolbar2, #campaign_basic_tbl, #campaign_basic_toolbar1, #project_update_textarea_toolbar2, #project_update_textarea_tbl, #project_update_textarea_toolbar1, #project_update_textarea_styleselect, #project_update_textarea_formatselect, #project_update_textarea_fontselect, #project_update_textarea_fontsizeselect, #project_update_textarea_toolbar3 { width: auto !important; padding: 0 !important; }
#steps form fieldset #campaign_basic_tbl td, #steps form fieldset #campaign_basic_toolbar3 td, #steps form fieldset #project_update_textarea_tbl td, #steps form fieldset #campaign_basic_toolbar1 td, #steps form fieldset #campaign_basic_toolbar2 td { width: auto !important; display: table-cell; padding: 0; }
#project_update_textarea_toolbargroup { width: 670px }
/* Rewards page */
.reward_block { border: 1px solid #ccc; width: 100%; margin-bottom: 1em; }
.reward_block .reward_title { border-bottom: 1px solid #ccc; font-weight: bold; font-size: 15px; height: 35px; background: #EEE; }
.reward_block .reward_title .reward_title_label { display: inline-block; margin: 7px; }
.reward_block .reward_content { padding: 10px; width: 95%; float: left; }
.reward_block input[type="submit"] { float: right; margin: 20px; white-space: nowrap; background: #272727; color: #fff; border: 0; border-radius: 4px; font: 15px/29px "OpenSans-SemiBold"; padding: 0 20px; text-transform: uppercase; cursor: pointer; }
.reward_block .account-row { width: 100%; padding: 0; }
.reward_block .account-row label { text-align: right; width: 270px; }
#steps form .reward_block .account-row input[type="text"] { width: 310px }
#steps form .reward_block .account-row textarea { max-width: 340px; min-width: 320px; }
.reward_shipping_address_required { margin: 0 10px 15px 217px }
.rewards-actions { float: right; margin-top: 4px; }
#steps form input:not([type=radio]).post-reward { float: right; margin: 0 1em 1em 0; background: #272727; color: #fff; border: none; border-radius: 4px; font: 15px/29px "OpenSans-SemiBold"; padding: 0 20px; text-transform: uppercase; cursor: pointer; }
#steps form button#add_new_reward_button { border: none; outline: none; border-radius: 10px; color: #ffffff; display: block; cursor: pointer; margin: 0 auto; clear: both; padding: 7px 25px; text-shadow: 0 1px 1px #777; font-weight: bold; font-family: "Century Gothic", Helvetica, sans-serif; font-size: 22px; box-shadow: 0 0 3px #aaa; background: #4797ED; }
#steps form button.delete-reward, #steps form button.delete-reward:hover, #steps form button.validate-reward, #steps form button.validate-reward:hover { border: none; outline: none; width: 24px; height: 24px; border-radius: 0; padding: 0; margin-right: 7px; display: inline-block; }
#steps form button.delete-reward, #steps form button.delete-reward:hover { background: url('img/trash.png') }
#steps form button.validate-reward, #steps form button.validate-reward:hover { background: url('img/validate.png') }
.account-row span.reward_currency { float: right; font-size: 18px; clear: none; margin-top: 1px; margin-right: 10px; font-weight: bold; }
/* Rewards frontend */
.resp-tab-content aside.rewards_tab { padding: 10px }
.resp-tab-content aside.rewards_tab h1 { font-size: 28px; display: inline-block; }
.resp-tab-content aside.rewards_tab h1.empty_rewards_message { margin: 60px 0; display: block; text-align: center; }
.resp-tab-content aside.rewards_tab h2 { font-style: italic; display: inline-block; margin-left: 20px; }
.resp-tab-content aside.rewards_tab .reward_display { border-radius: 5px; background: #e0e0e0; margin: 10px 0; padding: 10px; }
.resp-tab-content aside.rewards_tab .reward_display .reward_amount { font-size: 24px; font-weight: bold; }
.resp-tab-content aside.rewards_tab .reward_display .reward_name { font-size: 18px; font-weight: bold; margin-top: 10px; }
.resp-tab-content aside.rewards_tab .reward_display .reward_description { font-size: 14px; margin-top: 10px; color: #808080; border-top: 1px solid #EFEFEF; padding-top: 5px; }
.resp-tab-content aside.rewards_tab .reward_display .reward_bottom { margin-top: 20px }
.resp-tab-content aside.rewards_tab .reward_display .reward_bottom .reward_claimed_number { display: inline-block; width: 426px; vertical-align: top; padding-top: 20px; }
.resp-tab-content aside.rewards_tab .reward_display .reward_bottom .donate_now_button { background: #F21B43; text-shadow: 0 0 1px #F98DA1; display: inline-block; width: 170px; border-radius: 10px; box-shadow: inset 0 0 5px rgba(199, 199, 199, 0.5); padding: 6px 0 10px 0; cursor: pointer; }
.resp-tab-content aside.rewards_tab .reward_display .reward_bottom .donate_now_button span { width: 100%; font: 10px "OpenSans-Light"; display: block; letter-spacing: .025em; text-align: center; color: #fff; text-transform: none; padding-left: 0; background: none; }
.resp-tab-content aside.rewards_tab .reward_display .reward_bottom .donate_now_button span.uper { font: 18px "OpenSans-Light" }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_image { display: inline-block; width: 158px; vertical-align: top; }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_details { display: inline-block; width: 438px; }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_details_full_width { width: 600px }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_details .reward_contribute_summary_title { color: #fff; font-size: 16px; font-weight: bold; background: #868686; padding: 7px; }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_values .reward_contribute_summary_compaign_title { font-weight: bold; font-size: 15px; margin-bottom: 10px; }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_values { background-color: #fff; padding: 10px; }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_values .reward_contribute_summary_value_line label { width: 276px; display: inline-block; vertical-align: top; }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_values .reward_contribute_summary_value_line div { width: 138px; text-align: right; display: inline-block; }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_details_full_width .reward_contribute_summary_values .reward_contribute_summary_value_line div { width: 300px }
.resp-tab-content aside.rewards_tab .reward_contribute_summary_values .reward_contribute_summary_total { font-weight: bold; font-size: 16px; margin-top: 14px; }
.resp-tab-content aside.rewards_tab .reward_contribute_section .mandatory_star { color: #CC0000; display: inline; }
.resp-tab-content aside.rewards_tab .reward_contribute_title { font-size: 16px; font-weight: bold; }
.resp-tab-content aside.rewards_tab .reward_contribute_display { border-radius: 5px; background: #F9F9F9; margin: 10px 0; padding: 10px; }
.resp-tab-content aside.rewards_tab .reward_contribute_section { border-radius: 5px; background: #E0E0E0; margin: 10px 0; padding: 10px; }
.resp-tab-content aside.rewards_tab .reward_contribute_amount { width: 150px; text-align: center; font-weight: bold; display: inline-block; vertical-align: top; }
.resp-tab-content aside.rewards_tab .reward_contribute_details { width: 420px; display: inline-block; }
.resp-tab-content aside.rewards_tab .reward_contribute_name { font-weight: bold; font-size: 14px; margin-bottom: 10px; }
.resp-tab-content aside.rewards_tab .reward_contribute_description { margin-top: 15px }
.resp-tab-content aside.rewards_tab .reward_contribute_section div { margin-bottom: 15px }
.resp-tab-content aside.rewards_tab .reward_contribute_section label { width: 100px; display: inline-block; margin-right: 10px; text-align: right; }
.resp-tab-content aside.rewards_tab .reward_contribute_section input { width: 250px }
.resp-tab-content aside.rewards_tab #reward_claiming_continue_button { background: #F21B43; color: #fff; border: none; border-radius: 10px; width: 150px; height: 35px; float: right; font-size: 18px; font-weight: bold; }
.resp-tab-content aside.rewards_tab #reward_claiming_bottom_note { font-style: italic; font-size: 12px; float: left; margin: 12px 0 0 10px; }
/* Vote report tab */
.resp-tab-content aside.vote_report_tab h1 { font-size: 20px; margin: 0 auto 30px; text-align: center; width: 200px; }
.resp-tab-content aside.vote_report_tab div.vote_report_info { margin-top: 15px; text-align: center; font-size: 14px; }
.resp-tab-content aside.vote_report_tab div.vote_report_info div { font-weight: bold; display: inline-block; }
.resp-tab-content aside.vote_report_tab .no_votes_message { font-size: 16px; margin: 50px 0; text-align: center; }
.resp-tab-content aside.vote_report_tab #vote_report_table { margin: 35px auto; width: 500px; }
.resp-tab-content aside.vote_report_tab #vote_report_table a { color: #444 }
.resp-tab-content aside.vote_report_tab #vote_report_table a:hover { text-decoration: underline }
.resp-tab-content aside.vote_report_tab #vote_report_table th { background: #BBB }
.resp-tab-content aside.vote_report_tab #vote_report_table td { background: #D8D8D8 }
.resp-tab-content aside.vote_report_tab #vote_report_table tr.secondary-line td { background: #EEEEEE }
.resp-tab-content aside.vote_report_tab #vote_report_table th, .resp-tab-content aside.vote_report_tab #vote_report_table td { border: 1px solid #ccc; padding: 8px; }
.resp-tab-content aside.vote_report_tab .votes_report_pagination { margin: 0 0 80px 60px }
.resp-tab-content aside.vote_report_tab .votes_report_pagination a { color: #444; font-size: 10px; text-decoration: underline; }
.resp-tab-content aside.vote_report_tab .votes_report_pagination a.current_page_link { text-decoration: none }
/* Votes and Disbursements History */
.resp-tab-content aside.vote_history_report_tab h1 { width: 300px }
.resp-tab-content aside.vote_history_report_tab #vote_report_table { width: 570px }
/*contributions page*/
#members_area .contributions_page { width: 900px; margin: 0 auto; padding-top: 30px; position: relative; }
#members_area .contributions_page h2 { display: block; text-transform: uppercase; padding: 0 0 10px 0; margin-bottom: 20px; border-bottom: 3px solid #dedede; font: 18px/29px "OpenSans-SemiBold"; color: #7eb041; }
#members_area .contributions_page table { border-radius: 4px; overflow: hidden; box-shadow: 0 0 4px #757171; padding: 0 !important; }
#members_area .contributions_page table tr { border: 1px solid #000; padding: 0; }
#members_area .contributions_page table td { padding: 10px 15px; font: 12px "OpenSans"; color: #333; }
#members_area .contributions_page table .table_header { background: #f3f3f3 }
#members_area .contributions_page table .table_header td h4 { font: 12px/20px "OpenSans-Bold"; text-transform: uppercase; color: #333; }
#members_area .contributions_page table p { width: 385px; font: 12px "OpenSans"; color: #333; }
#members_area .contributions_page table p span { font: 12px "OpenSans-Bold"; color: #333; display: block; }
#members_area .contributions_page table ul li span { font: 10px "OpenSans" }
#members_area .contributions_page div ul { float: right; margin-top: 20px; }
#members_area .contributions_page div ul li { background: #92c150; float: left; width: 20px; height: 20px; text-align: center; margin-left: 5px; border-radius: 50%; }
#members_area .contributions_page div ul li a { font: 11px/20px "OpenSans-Bold"; color: #fff; }
.subscribe_form { float: left; margin-top: 16px; }
.subscribe_form input { float: left; margin-right: 10px; }
.subscribe_form input[type="submit"] { cursor: pointer; background: #92c150; border: 0; padding: 0 10px; height: 28px; border-radius: 4px; font: 11px "OpenSans"; color: #fff; text-shadow: 0px 0 3px #000; }
.subscribe_form input[type="text"] { text-transform: capitalize; width: 180px; height: 26px; border: 1px solid #C4C0C0; font: 12px "OpenSans"; border-radius: 4px; box-shadow: inset 0 0 6px rgba(134, 130, 130, 0.8); padding: 0 10px; }
.subscribe_form a { display: block; float: left; letter-spacing: .025em; text-align: center; color: #fff !important; text-transform: uppercase; text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5) !important; background: #F39F04; font: 15px/27px "OpenSans-SemiBold" !important; padding: 0 10px; height: 27px; border-radius: 4px; margin-top: 10px; width: 180px; }
#directPayment { background: rgba(201, 198, 198, 0.2) }
#members_area #directPayment th { background: url("img/check_mark.png") 0 0 no-repeat; padding-left: 37px; }
.paypal_block { background: rgba(201, 198, 198, 0.2); position: relative; padding: 10px 35px; }
.paypal_block .checked { background: url("img/check_mark.png") 0 0 no-repeat; position: absolute; display: block; width: 32px; height: 32px; top: 5px; left: 2px; : ; }
.paypal_checked { background: url("img/check_mark.png") 0 0 no-repeat; display: block; width: 32px; height: 32px; margin: 0 auto; }
.about_me_content { float: left; margin: 0 0 20px 20px; padding: 15px; background: #fff; border-radius: 13px; box-shadow: 0 0 10px rgba(34, 31, 31, 0.2); }
.about_me_content #about_me_content { width: 600px }
.about_me_content p, .about_me_content div { font: 14px/16px "OpenSans"; color: #333; }
.about_me_content div a { font-family: "Opensans-Semibold", sans-serif; text-decoration: underline; color: #333; }
#about_me_content label { width: 28px; text-transform: capitalize; display: block; float: left; height: 28px; background: url("img/website-icon.png") 0 0 no-repeat; margin-left: 12px; font: 13px/27px OpenSans; margin-left: 6px; color: #aaaab5; }
#about_me_content label.twitter { background: url("img/twitter-icon.png") 0 0 no-repeat }
#about_me_content label.facebook { background: url("img/face-icon.png") 0 0 no-repeat }
#about_me_content h2, #about_me_content h1 { margin: 0 0 20px 0; padding: 20px 0 0; }
#members_area .about_me_table label.social-network-url { width: 165px; background: none; text-transform: none; padding-left: 0; color: #5A5A5A; }
#vote_us_block #vote_us { background: #D0F0F0; border: 2px solid #8CACAC; border-radius: 10px; font-family: OpenSans-Light, sans-serif; font-size: 20px; font-weight: bold; height: 45px; width: 262px; cursor: pointer; }
#vote_us_block #vote_us:hover { background: #CCEBEB }